 body{
    margin: 0;
    color: #dadada;
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: repeat;

}
.welcome-badge{
    display: inline-block;
    color: #10e6f6;
    text-align: center;
}
.welcome-heading{
    text-align: center;
    font-size: 45px;
}
.card{
    padding: 10px;
    background-color: rgb(8, 31, 66);
    margin:20px 10% 20px 10% ;
    border-radius: 24px; 
    border: 1px solid #04545a;
}
.home{
    display: flex;
    align-items: center;
    padding:2%;
    color: white;
    justify-content: space-between;
    text-align: justify;
}
.home h1{
    margin-bottom: 7px;
}
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.highlight{
    color: #f68f10;
}

.professional{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #10e6f6;
    line-height: 0.8;
}

button{
    background-color: rgb(8, 31, 66);
    height: 40px;
    width: 200px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: 2px solid #04545a;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    background-color: #2f25bb;
    background-color: #10e6f6;
    color: black;
    transform: translateY(-3px);
}
.skills{  
  display: flex;
  flex-wrap: wrap;     
  gap: 20px;         
  justify-content: space-between;
  padding: 2%;
}

.skill-card h2{
    text-align: center;
}
.skill-card{
  width: calc(25% - 20px);  
  background-color: rgb(8, 31, 62);
  color: #dadada;
  border-radius: 24px;
  border: 1px solid #04545a;
  padding: 20px;
  box-sizing: border-box;
}
.education-card{
  width: calc(34% - 20px);  
  background-color: rgb(8, 31, 62);
  color: #dadada;
  border-radius: 24px;
  border: 1px solid #04545a;
  padding: 20px;
  box-sizing: border-box;
}

.skill-card:hover,
.education-card:hover,
.project-card:hover,
.card:hover{
    box-shadow: 0 5px 10px #7ee8f0;
    transform: translateY(-3px);
    
}
.projects{
    align-items: flex-start;
    justify-content: center;
}
.project-card{
    padding: 20px;
    background-color: rgb(8, 31, 62);
    color: #dadada;
    margin: 10px;
    border-radius: 24px; 
    border: 1px solid #04545a;
    transition: box-shadow 0.3s ease, transform 0.3s ease
}
.education{
  display: flex;       /* ✅ not block */
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 2%;
}
.certifications{
  display: flex;       /* ✅ not block */
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 2%;
}
.education-card{
  width: calc(34% - 20px);   /* ✅ 25% */
  background-color: rgb(8, 31, 62);
  color: #dadada;
  border-radius: 24px;
  border: 1px solid #04545a;
  padding: 20px;
  box-sizing: border-box;
}
li{
  line-height: 1.8;
}
@media (max-width: 1024px) {
  .skill-card,
  .education-card {
    width: calc(34% - 20px);
  }
}

@media (max-width: 600px) {
  .skill-card,
  .education-card {
    width: 100%;
  }

  .home {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
/* ===== Scroll-based animation ===== */
.card-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.9s ease;
}

.card-animate.show {
  opacity: 1;
  transform: translateY(0);
}
.contact-form{
  text-align: center;
  width: 75% ;
  background-color: rgb(8, 31, 62);
  color: #dadada;
  border-radius: 24px;
  border: 1px solid #04545a;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 10% 0 10%;
}
input,textarea{
    width: 50%;
    height: 30px;
    margin: 5px 0 5px 0;
    border-radius: 15px;
    background-color: #dadada ;
}
textarea{
    height: 80px;
}
a{
  color:#87c0f5;
}